p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

h1 {
color:red;

}

h2 {
color:white;

}
h2 span {
background-color:black;

}

h3 {
color:white;

}
h3 span {
background-color:black;

}